[model]
	num_classes {
		ssd: {'num_classes': 1}
	}
[train_config]
	batch_size: 4
	fine_tune_checkpoint: pretrained_models\efficientdet_d0\checkpoint\ckpt-0
	fine_tune_checkpoint_type: detection
[train_input_reader]
	label_map_path: label_map.pbtxt
	input_path {
		tf_record_input_reader: {'input_path': ['annotations\\train.record']}
	}
[eval_input_reader]
[{'label_map_path': 'label_map.pbtxt', 'tf_record_input_reader': {'input_path': ['annotations\\test.record']}}]
